/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/*MY CODE*/
* {
  box-sizing: border-box;
}

body {
  background-color: #1b263b;
}

@media only screen and (max-width: 767px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    width: 100%;
    max-width: 343px;
    min-height: 100vh;
  }

  .index-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 41px;
  }

  .index-header div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .index-header div a {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
  }

  .index-header nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .index-header nav ul {
    position: absolute;
    top: 41px;
    background-color: #1b263b;
    width: 270px;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 19px;
    z-index: 1;
    transition: all ease-in 300ms;
    opacity: 0;
  }

  .index-header nav ul li a {
    font-size: 16px;
    font-family: Roboto;
    text-align: center;
    text-decoration: none;
    color: #fff;
  }

  main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  main #home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 100%;
  }

  main #home article {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 17px;
  }

  main #home article h1 {
    font-size: 24px;
    font-weight: bold;
    font-family: Poppins;
    color: #fff;
    padding: 10px;
    line-height: 30px;
  }

  main #home article a {
    text-align: center;
    background-color: #ffdf22;
    font-size: 16px;
    padding: 10px;
    color: #1b263b;
    font-family: Roboto;
    width: 128px;
    font-weight: 600;
    text-decoration: none;
  }

  main #home figure,
  main #home figure img {
    width: 100%;
  }

  footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 73px;
    gap: 19px;
  }

  footer article {
    display: flex;
    gap: 19px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  footer article figure,
  footer article figure svg {
    width: 25px;
  }

  footer article figure svg {
    fill: #ffdf22;
  }

  footer nav {
    width: 100%;
  }

  footer nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 19px;
    width: 100%;
  }

  footer nav ul li a {
    font-size: 8px;
    font-family: Roboto;
    color: #fff;
    text-decoration: none;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    width: 100%;
    max-width: 728px;
    min-height: 100vh;
  }
}

@media only screen and (min-width: 1000px) {
  .container {
    max-width: 1240px;
  }
}
